.advantage-photo {
  margin: 0;
  line-height: 0;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .advantage-photo {
    height: 256px;
    width: 66.6%;
  }
}

@media (min-width: @desktop-width) {
  .advantage-photo {
    width: 75%;
  }
}
