.advantage-feature {
  margin: 0;
  padding-bottom: 28px;
  padding-left: 50px;

  &--home,
  &--gift,
  &--food {
    position: relative;
  }

  &--home {
    &::before {
      position: absolute;
      content: "";
      width: 39px;
      height: 37px;
      left: 2px;
      top: -8px;
      background: url("../../img/icon-house.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  &--gift {
    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 38px;
      left: 6px;
      top: -10px;
      background: url("../../img/icon-gift.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  &--food {
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 35px;
      left: 0;
      top: -4px;
      background: url("../../img/icon-burger.svg") no-repeat;
      background-size: 100% 100%;
    }
  }
}

.advantage-feature__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;

  .set-title();
  color: @title-color;
}

.advantage-feature__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage-feature {
    box-sizing: border-box;
    padding-top: 158px;
    padding-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
    width: 33.33%;

    &--gift {
      order: 1;

      &::before {
        width: 64px;
        height: 75px;
        top: 29%;
        left: 49%;
        transform: translate(-50%, -50%);
      }
    }

    &--home {
      &::before {
        width: 75px;
        height: 72px;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--food {
      &::before {
        width: 77px;
        height: 68px;

        top: 30%;
        left: 49%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .advantage-feature__title {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 21px;
    text-align: center;
  }

  .advantage-feature__text {
    margin: 0 auto;
    width: 64%;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantage-feature {
    padding-bottom: 84px;

    &--gift {
      &::before {
        top: 29%;
        left: 50%;
      }
    }

    &--home {
      &::before {
        top: 29%;
        left: 50%;
      }
    }

    &--food {
      &::before {
        top: 30%;
        left: 50%;
      }
    }
  }

  .advantage-feature__text {
    width: 74%;
  }

  .advantage-feature--gift .advantage-feature__text {
    width: 55%;
  }
}
