.advantage-feature-list {
  padding: 20px;
  padding-top: 34px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .advantage-feature-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
