.button {
  display: inline-block;
  vertical-align: middle;

  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;

  .set-background-color(@button-color);

  font-size: 21px;
  font-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
