.form-review {
  box-sizing: border-box;
  padding-bottom: 37px;
  width: 100%;
}

.form-review__button {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 15px;
  width: 87.5%;
}

@media (max-width: @mobile-width-only) {
  .form-review__comment {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form-review {
    .container-fluid();
    padding: 0;
    padding-bottom: 61px;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form-review__button {
    width: 50%;
    padding-bottom: 16px;
    margin-bottom: 0;
  }

  .form-review__comment {
    box-sizing: border-box;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 0;
    width: 50%;
    text-align: right;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 66px;
    width: 100%;
  }
}
