.form-review-field {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center;

  &--column {
    margin-bottom: 12px;
    flex-direction: column;
    align-items: flex-start;

    .form-review-field__container-input {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      flex-grow: 1;

      &::after {
        position: absolute;
        width: 58px;
        height: 100%;
        bottom: 0;
        right: 0;
        content: "";
        z-index: 20;
      }

      &--phone {
        &::after {
          background: @form-input-btn-color url("../../img/icon-phone.svg") no-repeat;
          background-position: center;
        }
      }

      &--email {
        &::after {
          background: @form-input-btn-color url("../../img/icon-mail.svg") no-repeat;
          background-position: center;
        }
      }
    }

    .form-review-field__input {
      padding-right: 65px;
      outline: none;
    }

    .form-review-field__label {
      padding-left: 22px;
      padding-top: 0;
      padding-bottom: 8px;
    }
  }

  &--check {
    margin-bottom: 22px;
  }

  &--radio {
    margin-bottom: 11px;
  }

  &--check .form-review-field__input,
  &--radio .form-review-field__input {
    display: none;
  }

  &--check .form-review-field__label,
  &--radio .form-review-field__label {
    padding: 16px 0;
    padding-left: 80px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
    color: @review-font-color;
  }

  &--err-show {
    .form-review-field__error {
      display: block;
    }
  }
}

.form-review-field__label {
  box-sizing: border-box;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 26px;
  flex-shrink: 0;
}

.form-review-field__input {
  box-sizing: border-box;
  min-width: 50%;
  width: 100%;
  flex-grow: 1;

  .set-input-form();

  &::-webkit-input-placeholder {
    color: @review-font-color;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: @review-font-color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: @review-font-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: @review-font-color;
    opacity: 1;
  }
}

.form-review-field__error {
  display: none;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 22px;
  text-transform: none;
  color: @error-color;
}

@media (min-width: @tablet-width) {
  .form-review-field {
    &--column {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 14px;

      .form-review-field__label {
        padding-top: 10px;
        padding-bottom: 6px;
        order: -1;
        width: 50%;
      }
    }

    &--radio {
      margin-bottom: 20px;

      .form-review-field__label {
        padding-left: 75px;
      }
    }

    &--check {
      width: 50%;
      margin-bottom: 32px;

      .form-review-field__label {
        padding-left: 80px;
      }
    }
  }

  .form-review-field__error {
    order: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-self: center;
    width: 50%;
    text-align: right;
  }

  .form-review-field__container-input {
    order: 1;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .form-review-field {
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &--column {
      margin-bottom: 16px;
      flex-wrap: wrap;
      align-content: flex-end;

      .form-review-field__label {
        order: 0;
        padding: 6px 0;
        padding-right: 18px;
        width: auto;
        align-self: center;
      }

      &:first-of-type {
        padding-right: 80px;

        .form-review-field__label {
          width: 24%;
        }
      }

      .form-review-field__container-input {
        width: auto;
        flex-grow: 1;
      }
    }

    &--radio {
      .form-review-field__label {
        padding-left: 80px;
      }
    }

    &--err-show {
      align-content: space-between;

      .form-review-field__container-input {
        margin-top: 10px;
      }
    }
  }

  .form-review-field__error {
    padding: 0;
    padding-top: 4px;
    order: -1;
    width: 100%;
    text-align: center;
  }
}
