.intro {
  box-sizing: border-box;
  padding: 38px 20px;
  padding-bottom: 6px;
  width: 100%;

  font-size: 14px;
  line-height: 26px;

  &--form {
    padding-bottom: 18px;
    padding-top: 38px;

    .intro__title {
      margin-bottom: 27px;
    }

    .intro__text {
      line-height: 24px;
    }
  }

  &--photo {
    padding-bottom: 28px;

    .intro__title {
      margin-bottom: 26px;
    }

    .intro__text {
      width: 98%;
      line-height: 24px;
    }
  }
}

.intro__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 94%;

  .set-title();
  color: @title-color;
  text-align: center;
}

.intro__text {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .intro {
    .container-fluid();
    padding: 50px 0;

    &--form,
    &--photo {
      padding-top: 74px;

      .intro__title {
        font-size: 30px;
      }
    }

    &--photo {
      padding-bottom: 70px;

      .intro__title {
        margin-bottom: 31px;
      }

      .intro__text {
        width: 68%;
      }
    }

    &--form {
      padding-bottom: 72px;

      .intro__title {
        margin-bottom: 32px;
      }

      .intro__text {
        width: 70%;
      }
    }
  }

  .intro__title {
    font-size: 21px;
    line-height: 26px;
    width: 70%;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    display: block;
    padding: 50px 0;
    width: 100%;

    &--form {
      padding-top: 112px;
      padding-bottom: 58px;

      .intro__title {
        margin-bottom: 31px;
      }

      .intro__text {
        width: 40%;
      }
    }

    &--photo {
      padding-top: 112px;
      padding-bottom: 70px;

      .intro__text {
        width: 36%;
      }
    }
  }

  .intro__title {
    width: 40%;
  }

  .intro__text {
    width: 60%;
  }
}
