.main-picture {
  width: 100%;
  height: 158px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  &--large {
    height: 390px;
  }
}

@media (min-width: @tablet-width) {
  .main-picture {
    height: 290px;

    &--large {
      height: 518px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-picture {
    height: 302px;

    &--large {
      height: 518px;
    }
  }
}
