.message-info {
  padding-top: 18px;
}

.message-info__title {
  text-align: center;
  .set-title();
  .set-title-color();
}

.message-info__text {
  padding-left: 26px;
  padding-right: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.message-info__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 36px;

  &--ok {
    padding: 20px;
    background-color: #f2f2f2;
  }
}

.message-info__btn-close {
  box-sizing: border-box;
  display: block;
  width: 100%;

  font-size: 18px;
}

.message-info__btn-close--err {
  width: 180px;
  margin: 0 auto;
}
