.offering-content {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 24px;
}

.offering-content__title {
  margin: 0;
  margin-bottom: 26px;


  font-size: 21px;
  line-height: 26px;
  text-align: center;
  .set-title-color();
}

.offering-content__text {
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.offering-content__button {
  margin-bottom: 50px;
  min-width: 260px;
}
