@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__column {
    box-sizing: border-box;
    width: 33.33%;
    margin: auto;
    align-items: center;
  }
}
