.review-quiz {
  font-size: 14px;
  line-height: 24px;
}

.review-quiz__likes-count {
  color: @review-font-color;
  font-weight: 700;
}

@media (min-width: @desktop-width) {
  .review-quiz__likes-count {
    color: #ffffff;
  }
}
