.social-links {
  margin-bottom: 42px;
  text-align: center;
  font-size: 0;
}

.social-links__btn {
  position: relative;
  width: 47px;
  height: 47px;
  margin: 0 3px;
  font-size: @base-font-size;
  line-height: @base-line-size;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .social-links {
    margin: 0;
    padding: 0;
  }
}
