.container-fluid() {
  width: auto;
  min-width: @mobile-width;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 84.4%;        /* 640px / 768px */
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: @desktop-width;
  }
}

.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.set-title() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.set-input-form() {
  box-sizing: border-box;
  padding: 12px 18px;
  border: 4px solid @form-input-color;
  background-color: @form-input-color;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &:hover {
    border: 4px solid @form-input-hover-color;
    background-color: @form-input-hover-color;
  }

  &:focus {
    background-color: @form-input-active-color;
    border: 4px solid @form-input-active-border-color;
  }
}
