@base-background-color: #ffffff;
@base-font-color: #333333;
@blue-color: #81b3d2;
@grey-color: #eeeeee;
@border-advantage-color: #d6d6d6;
@border-block-color: #e5e5e5;
@main-picture-color: #926869;
@title-color: #000000;
@form-input-color: #f2f2f2;
@error-color: #ff5c5c;

@menu-color: @blue-color;
@button-color: @blue-color;

@base-font-size: 14px;
@base-line-size: 21px;

@mobile-size: 320px;

@header-height: 56px;
